@media (max-width:825px){
#Universe{
	color:black;
	font-family:candara, calibri, sans-sarif;
	font-size:1em;
	background-image:url("../images/Cover-edit.png");
	background-size:cover;  
	display:inline-block;
}

#Head{
	height:30px;
	border-bottom: solid 1px gray;	
}
#Home_Link{
	color:#ff6666;
	font-size:2em;
	text-decoration: none;
}
#Home_Link:hover{
	text-shadow:0.5px 1px black;
}
#Body_Left{
	float:left;               /* both body left and body right has to be set to flaot left in order to override other style sheet properties*/
	font-size:1.3em;
	text-align:center;
	width:auto;
	
}

#Location_Text{
	text-align:left; 
	font-size:0.8em;     /*this font size is relative to body left because it is a child of body left. it will be helpful when we make it responsive*/
	margin-bottom:0;
}
#Location{
	font-size:0.6em;     /*this font size is relative to body left because it is a child of body left. it will be helpful when we make it responsive*/	
}
#Location select{
	border-radius:5px;
	padding:3px;
	border:solid 2px gray;	
	background-color:rgba(255, 255, 204, 0.9);	
}

#Body_Right{
	float:left;
	font-size:1em;
	text-align:left;      
	width:auto;
}

#Body_Right p{
	margin-bottom:0;
}

#Body_Right input{
	border-radius:5px;
	padding:3px;
	border:solid 2px gray;	
	background-color:rgba(255, 255, 204, 0.9);
	
}

}

