<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cook Search</title>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet" 	href="../static/style/bootstrap/css/bootstrap.min.css" 	th:href="@{bootstrap/css/bootstrap.min.css}" />
<!--<link rel="stylesheet" href="../static/style/Search_Cook.css" th:href="@{style/Search_Cook.css}"/>  -->
<link rel="stylesheet" href="../static/style/home.css" th:href="@{style/home.css}" />
<link rel="stylesheet" href="../static/style/cookProfile.css" th:href="@{style/cookProfile.css}" />        

<script type="text/javascript" src="../static/js/jquery.min.js"	th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/jquery.tmpl.min.js" th:src="@{bootstrap/js/jquery.tmpl.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/cookSearch.js"  th:src="@{js/cookSearch.js}"></script>
<script type="text/javascript" src="../static/js/searchCook.js"  th:src="@{js/searchCook.js}"></script>

<style> 
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans');

</style>

</head>

<body onload="loadScript();cookSearchRequest();">

   <div th:include="header"></div>
	
	<div class="container font-body">
		<div class="search-template">
			<p class="para-text">Select Your location!</p>

			<div class="search-criteria">
				<label class="normal-text">City</label>
				<div class="btn-group">	
					<select name="City" class="btn btn-primary dropdown-toggle dropdown-toggle-split" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<option value="Bangalore" selected="selected">Bangalore</option>
					</select>
				</div>
		<!--		<br class="hide-inline-element"/>           -->
			   	<label class="normal-text">Area</label>
				<div class="btn-group">
					<select name="Area" id ="areaSearch" class="btn btn-primary dropdown-toggle dropdown-toggle-split" 
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</select>
				</div>
				<input type="submit" value="Search" class="btn btn-success button-text"
						onclick="searchCook();"></input>
			</div>
		</div>
	<div id="searchContainer" class="row font-body search-results"></div>
	
	<script  id="searchTemplate" type="text/x-jQuery-tmpl">
		<div class="col-md-6 col-xs-12" style="padding:5px;font-size:17px;">
			<div class="normal-text">Name : ${firstName} ${lastName}</div>
			<div class="normal-text">Charges: ${charges}</div>
			<div class="normal-text">Speciality: ${speciality}</div>
			<button onClick = "getProfile(${userId})" class="btn btn-danger button-text" data-toggle="modal" data-target="#myModal">
			Visit Profile</button>
		</div>
	
	</script>
	</div>

         <!--                               Modal-Cook-Profile                     -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
 <!--       <h3 class="modal-title" id="exampleModalLabel">My-Profile</h3>   -->    
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

<div class="modal-body">
<div class="container-fluid">
<!-- <div th:include="header"></div>    -->

<div class="container" style="width:100%;">
	<div class="row">
		<div class="col-xs-6">
			<div id="profilePic">
				<img th:src="@{/images/Sample_Photo.jpg}" 
					src="../static/images/Sample_Photo.jpg" alt="Cook_Profile_Photo" style="width:100%" 
					class="img-thumbnail"/>  				
				<div class="caption">
					<h3>Cook_Name</h3>
				</div>
			</div>
		</div>
	<div class="col-xs-6">
	<div id="profileContainer"></div>
	<script  id="profileTemplate" type="text/x-jQuery-tmpl">
	  <div>
		<h3 id="aboutMe">About Me:</h3> 
		<h3 id="rating">My Rating:</h3>
		<h3 class="profileDetails">My Specialities: ${speciality}</h3>
		<h3 class="profileDetails">Charges: ${charges}</h3>
		<h3>Please Sign-In to see complete profile</h3>
		<label>Exsiting User</label> <br></br>
		<button type="button" class="btn btn-success btn-lg">Sign-In</button> <br></br>
		<label>New User</label> <br></br>
		<button type="button" class="btn btn-success btn-lg">Sign-Up</button>
		    	
	  </div> 	
	</script>   
	</div>
	</div>

            
</div>	
</div>
</div>	
</div>	
</div>	
</div>
</body>
</html>
