<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cook Profile</title>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet" 	href="../static/style/bootstrap/css/bootstrap.min.css" 	th:href="@{bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript" src="../static/js/jquery.min.js"	th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/jquery.tmpl.min.js" th:src="@{bootstrap/js/jquery.tmpl.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
$(function(){
 	var id;
	 <th:block>
 		 console.log('hi i was here ');
 		id = [[${#authentication.principal.userId}]];
 	 </th:block>	 
	var test= $.ajax({
		url:"profile/cook/"+id,
		type:"GET",
		dataType:"json",
		headers: { 
			'Accept': 'application/json',
			'Content-Type': 'application/json' 
		},
	})
	.done(function(json){
		console.log(json); 
		cookProfileData(json.profileResponse);
	})
	.fail(function(xhr, status, errorThrown){
		//alert("Error in getProfile ajax call");
	});	

// to append data to html
	function cookProfileData(responseText){
	// Add the server data to the template
	$("#profileTemplate").tmpl(responseText).appendTo("#profileContainer");
       	
	}
})
</script>

<style>
	header{
		height:450px;
		border:2px solid grey;
		border-radius: 10px;	
	}
	img{
		width:100px; 
		height:100px;
		margin:40px 0px 0px 3%;
		border: 3px solid grey; 
		border-radius: 20px;
		display: block;
	}
</style>
</head>

<body>
<div th:include="header"></div>   

	<!-- 
	<div id="profileContainer"></div>
	<script  id="profileTemplate" type="text/x-jQuery-tmpl">
	  <div>
		<h4 id="aboutMe">About Me:</h4> 
		<h4 id="rating">My Rating:</h4>
		<h4 class="profileDetails">My Specialities: ${speciality}</h4>
		<h4 class="profileDetails">Charges: ${charges}</h4>
		<h4>Contact Number:<a href="#">Please Signin to see complete profile</a></h4>
	  </div> 	
	</script>	
	
	<div sec:authorize ="hasAuthority('COOK_USER3')">
                    This content is only shown to administrators.
                </div>
	
	Test user: <span sec:authentication="principal.firstName"></span>
	Roles: <span sec:authentication="authorities"></span>
		user: id :  <span sec:authentication="principal.userId"></span> -->
		
		<div style="height:450px;border:2px solid grey;border-radius: 10px;">	
		<img src="Harish_Photo.jpg" style="width:200px; height:200px;border: 3px solid grey; border-radius: 20px;display:block;position:relative;margin:auto;margin-top:17em;" />
	</div>
	<div style="font-family:sans-serif;margin-top:3em;margin-left:1em;">
		<h3 id="name">Name:</h3>
		<h3 id="aboutMe">About Me:</h3> 
		<h3 id="rating">My Rating:</h3>
		<h3 id="speciality">My Specialities:</h3>
		<ul id ="list"><li>North Indian</li></ul>
		<h3>Please Sign-in/sign-up to see complete profile</h3>
				<h4>Already a user? <button>Sign-In</button> New User? <button>Sign-up</button></h4>
		
		
	</div>
	
	
</body>
</html>
