<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cook-Home</title>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet" href="../static/style/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/style/Cook_Home_Final.css" th:href="@{style/Cook_Home_Final.css}" />

<script type="text/javascript" src="../static/js/jquery.min.js"	th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/cookSearch.js"	th:src="@{js/cookSearch.js}"></script>

<link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed'
	rel='stylesheet' type='text/css' />

<script type="text/javascript">
	$(document).ready(function() {
		loadAreas();
	});
</script>


</head>
<body>

	<!-- Static Top Nav bar using bootstrap -->
	<nav class="navbar navbar-inverse navbar-fixed-top header-gradient">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">FIND COOK</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="./">Home</a></li>
					<li><a onclick="login();">Login</a></li>
					<li><a href="help-user">Help</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
	<div class="starter-template">
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<p class="lead">Find The Best Cook In Your Area! </p>
				<p class="lead">Select Your location!</p>
				<label>City</label>
				<select name="City">
					<option value="Bangalore" selected="selected">Bangalore</option>
				</select>
			   <label>Area</label>
				<select name="Area" id ="areaSearch"></select>
				<input type="submit" value="Search" class="btn-primary"
						onclick="searchCook();"></input>
			</div>
			<div class="col-md-5 col-xs-12">
				<p class="lead">Are You A Cook?</p>
				<p class="lead">Sign Up To Register!</p>
				<input type="submit" value="Sign-Up"
					class="btn-primary" onclick="signUp();"></input> 
				<input
					type="submit" class="btn-primary" value="Login"
					onclick="uploadImage();"></input>

			</div>
		</div>
		</div>
	</div>

</body>
</html>