<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cook-Home</title>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet" href="../static/style/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/style/home.css" th:href="@{style/home.css}" />

<script type="text/javascript" src="../static/js/jquery.min.js"	th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/cookSearch.js"	th:src="@{js/cookSearch.js}"></script>


<script type="text/javascript">
	$(document).ready(function() {
//		$("option").addClass("dropdown-item")
		loadAreas();
	});
</script>

<style> 
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans');

</style>
</head>
<body>
   <div th:include="header"></div>

	<div class="container font-body">
	<div class="starter-template">
		<div class="row" style="margin-top:50px;">
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<p class="para-text">Find The Best Cook In Your Area! </p>
				<p class="para-text">Select Your location!</p>
			<div>
				<label class="normal-text">City</label>
				<div class="btn-group">	
					<select name="City" class="btn btn-primary dropdown-toggle dropdown-toggle-split" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<option value="Bangalore" selected="selected">Bangalore</option>
					</select>
				</div>
		<!--		<br class="hide-inline-element"/>           -->
			   	<label class="normal-text">Area</label>
				<div class="btn-group">
					<select name="Area" id ="areaSearch" class="btn btn-primary dropdown-toggle dropdown-toggle-split" 
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</select>
				</div>
				<input type="submit" value="Search" class="btn btn-success button-text"
						onclick="searchCook();"></input>
			</div>
			</div>
			<div class="col-xs-6 col-lg-4">
				<p class="para-text">Are You A Cook?</p>
				<p class="para-text">Sign Up To Register!</p>
				<div>
				<input type="submit" value="Sign-Up"
					class="btn btn-success button-text" onclick="signUp();"></input> 
				<input
					type="submit" class="btn btn-success button-text" value="Login"
					onclick="uploadImage();"></input>
				</div>

			</div>
		</div>
		</div>
	</div>

</body>
</html>
