<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="resources/style/Cook_Home_Final.css" />
<link rel="stylesheet" href="resources/style/Login.css" />
<script type="text/javascript" src="resources/js/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/cookSearch.js"></script>

</head>
<body id="universe">
	<header id="head">
		<div id="homeButton">
			<a class="hLink" href="./">Home</a>
		</div>
		<span id="title">FIND COOK</span>
	</header>
	<div id="loginArea" style="margin-left:auto; margin-right:auto; margin-top:70px; width:300px;">
		<!-- <h2 style="margin-bottom:10px;">Login In With:</h2>
		<input type="submit" value="Google" class="submitButton"
			style="border: outset; border-width: 0px; margin-top: 0;font-size:1.5em;"></input>
			<h3 style="margin-left:10%; margin-top:10px; margin-bottom:10px;">OR</h3> -->

		<!-- <form action="javascript:submitLogin()" id="register" role="form" >
			<span>User Name :</span> 
			<input type="text" name="username" id="userName" value=""
				placeholder="User name or Email" required style="margin-bottom:10px;" />
			<span>Password :</span>
			<input type="text" name="password" id="userPassword" value="" required style="margin-bottom:10px;" />
			
			<input type="submit" value="Login" class="submitButton"
				style="border: outset; border-width: 0px; margin-top: 0; font-size:1.5em;"></input>
		</form> -->
		
		 <form name="f" th:action="@{/login/validate}" method="post">               
            <fieldset>
                <legend>Please Login</legend>
                <div th:if="${param.error}" class="alert alert-error">    
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    You have been logged out.
                </div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>        
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>    
                <div class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                </div>
            </fieldset>
        </form>
		
	</div>

</body>
</html>
