<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet" href="../static/style/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/style/Cook_Home_Final.css" th:href="@{style/Cook_Home_Final.css}"/>
<link rel="stylesheet" href="../static/style/Login.css" th:href="@{style/Login.css}"/>
<link rel="stylesheet" href="../static/style/Signup.css" th:href="@{style/Signup.css}"/>

<script type="text/javascript" src="../static/js/jquery.min.js"	th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/cookSearch.js" th:src="@{js/cookSearch.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		loadData();
	});
</script>
</head>
<body>
	
   <div th:include="header"></div>
	
	<div id="signupArea">
			<h1 id="mainHeading" style="text-align:center;">Welcome! Fill in the details to join us.</h1>
			
			<form action="javascript:submitSignUp()" id="register" role="form" style="margin-left:40%">

				<div class="nameHead formLabel">Name :</div>
				<input class="boxes formInput" type="text" name="firstName" id="firstName" value="" placeholder="First name" required="required"> </input>
				<input 	class="boxes formInput" type="text" name="lastName" id="lastName" value="" placeholder="Last name" required="required"></input>
				
				<div class="nameHead formLabel">User Name/Email:</div>
				<input class="boxes formInput" type="text" name="userName" id="userName" value="" placeholder="Ex:abc@gmail.com" required="required"></input>
				
				<div class="nameHead formLabel">Password:</div>
				<input class="boxes formInput" type="password" name="password" id="userPassword" value="" content="hidden" required="required"></input>
				
				<div class="nameHead formLabel">Confirm Password:</div>
				<input class="boxes formInput" type="password" name="password" id="confirmPassword" value="" content="hidden" required="required"></input>
				
				<div class="nameHead formLabel">Age:</div>
				<input class="boxes formInput" type="number"	name="age" id="userAge" value=""></input>
					
				<div class="nameHead formLabel">Gender</div> 
				<input type="radio" value="M" name="gender" required="required">Male</input>
				<input type="radio" value="F" name="gender">Female</input>
					
				<div class="nameHead formLabel">Mobile Number:</div>  
				<input class="boxes formInput" type="text"  id="mobileNumber" name="mobileNumber" value="" maxlength="10" required="required"></input>
				<div class="nameHead formLabel">Speciality</div>
				<div id="specData"></div>

				<div class="nameHead formLabel">Work Area:</div> 
				<select multiple="multiple" id="workSelect"></select>

				<div class="nameHead formLabel">Charge/Month:</div> 
				<input class="boxes" type="number" name="salary" id="salary" value="" placeholder="how much would you charge?"></input>
				<div>
				<input type="submit" value="Sign-Up" class="submitButton submitSignup" style="border:outset; border-width:0px; margin-top: 10px; font-size:1.5em;"
					onsubmit="submitSignUp()"></input>
				</div>
			</form>
	</div>
</body>
</html>
