#mainHeading{
	font-size:1.5em;
	margin-bottom:3px;
	
}
.nameHead{
	margin-bottom:3px;
}


.boxes{
	border-radius:5px;
	border:outset;
	border-width:0.1px;
	padding:5px;
	width:200px;
	border-color:gray;
	font-family: 'Ubuntu Condensed', sans-serif;
}



.formLabel {
	padding: 5px 5px 5px 0;
}

.formInput {
	padding: 5px;
} 
