@media (min-width:1166px){
#Universe{
	color:black;
	font-family:candara, calibri, sans-serif;
	font-size:1em;
/*	background-image:url("../images/Cover-edit.png");          
	background-size:cover;                */
	text-shadow:0.4px 0.4px #ffffcc;
}

#Head{
	height:90px;
	border-bottom: solid 10px gray;
	border-color: rgb(179, 179, 255);	
}
 #Home_Button{
	width:40px;           
	height:40px;
/*	border:solid 1px gray;         */
	text-align:center;
	padding:3px;
	border-radius:20px;
	background-color:rgb(255, 128, 128);
	float:left;
	margin-left:20px;                 
}
#Home_Button:hover{
	text-shadow:0.5px 1px black;
	background-color:rgb(0, 153, 153);
}

#Title{
	float:left;
	margin-left:300px;
	font-family:helvetica, Comic Sans MS,sans-serif;
	font-size:1.5em;
	color:gray;
	text-shadow:-1px 0.4px green;
	
	
}

#Login_Button{
	width:60px;           
	height:60px;
	border:solid 1px gray;
	text-align:center;
	padding:3px;
	border-radius:20px;
	background-color:rgb(255, 128, 128);
	float:right;
	margin-right:100px;             
}
#Login_Button:hover{
	text-shadow:0.5px 1px black;
	background-color:rgb(0, 153, 153);
}
#Help_Button{
	width:60px;           
	height:60px;
	border:solid 1px gray;
	text-align:center;
	padding:3px;
	border-radius:20px;
	background-color:rgb(255, 128, 128);
	float:right;
	margin-right:30px;
}

#Help_Button:hover{
	text-shadow:0.5px 1px black;
	background-color:rgb(0, 153, 153);
}

#H_Link{
/*	color:rgb(0, 102, 204);              */
	color:white;
	font-size:1em;
	text-decoration: none;
 /* text-shadow:0.4px -2px gray;          */
	line-height:40px;	
}

#Body_Left{
	float:left;
	margin-top:10px;
	margin-left:30px;
	width:600px;
	font-size:2.5em;
	text-align:center;
}

#Location_Text{
	text-align:left;
	margin-left:40px;
	font-size:0.8em;
	margin-bottom:0;
}
#Location{
	margin-left:70px;
	font-size:0.6em;     /*this font size is relative to body left because it is a child of body left. it will be helpful when we make it responsive*/	
}

#Location select:hover{
	box-shadow:1px 1px black;
}

#Location select{
	border-radius:2px;
	padding:3px;
	border:solid 1px gray;	
/*	background-color:rgba(0, 153, 204, 0.2);	  */
}

#Body_Right{
	float:right;
	margin:40px 100px 0px 10px;
	width:400px;
	font-size:1.5em;
	text-align:left;
}

#Body_Right p{
	margin-bottom:0;
}

#Body_Right input{
	border-radius:2px;
	padding:3px;
	border:solid 1px gray;	
/*	background-color:rgba(0, 153, 204, 0.2);             */    

	
	
}
#Body_Right input:hover{
	box-shadow:1px 1px black;
}

}

