body {
	padding-top: 50px;
	color: gray;
	background: #FFFACD;
	background:White;
}

.font-body{    
   
	font-family:'Open Sans', sans-serif;
    	letter-spacing: normal;
    	text-rendering: optimizelegibility;
	font-size: 20px;
}

li{
	
    font-family: 'Open Sans', sans-serif;
    font-family: 'Courgette', cursive;
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Courgette', cursive;

}

.header-gradient {
	background-color: rgb(16,0,0);
	font-size: 25px;
	font-weight:bold;	
    	font-family: 'Open Sans', sans-serif;
    	font-family: 'Courgette', cursive;

}


.para-text{
	font-weight:bold;
}
@media screen and (min-width:480px){
	.btn{
		width:130px;
	}
}


.search-criteria{
	margin-top:20px;
	text-align:center;
}
.search-template {

	padding: 15px  15px 5px 15px;
	text-align: center;
}

.search-results{
	background-color: rgba(208,92,272,0.1); 
	padding:0px;
}



