<html>
<head>
<title>Serach Banane Wala</title>  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel="stylesheet"  href="style/responsive/home.css">
	<script type="text/javascript" src = "js/cookSearch.js"></script>
	<script type="text/javascript" src = "js/jquery.min.js"></script>
	
</head>
<body>
<header class="main-header" >
	<span class ="header-div left-float">FIND COOK</span>
	<span class= "header-div right-float"><a>Sign In</a></span>
</header>

<nav>
		
		<div class= "">	
		<div class = "header-div">Looking for Cook?</div>
			
			<label class = "font-style header-div" style="margin-left : 25%">
			<strong>Please select a Area</strong>
			</label
			<br>
			<select id = "area_search"  class = "input-height user-name-input select-input" >
			<option  disabled selected value> -- Choose Area --</option>
			<option  value="ecity_phase_1">Electronic City Phase 1 </option>
			<option  value="ecity_phase_2">Electronic City Phase 2	</option>
			</select>
			<input type="Submit" value ="Search Cook" class = "select-input" onClick="searchCook()"></input>
		
		</div>	
		</nav>
		
		<div id ="results_section" style ="border: 2px transparent; margin-top:50px; }">
		
			<div id ="filters" style=" width: 20%; display: inline-block; margin-left: 60px; margin-top: 30px; float:left">
				<label class ="font-style" style= "    padding-left: 45px;">Filter Area</label>
				<ul style="list-style:none;">
					<li><input type="checkbox"></input><label class = "font-style">E-City main</label></li>
					<li><input type="checkbox"></input><label class ="font-style">E-City Phase 1</label></li>
					<li><input type="checkbox"></input><label class ="font-style">E-City Phase 2</label></li>
				
				</ul>
			</div>
			<div id ="results" style= "display:inline-block;">
			<ul id="results-ul"style = "list-style:none;" class="font-style">
			</ul>
			<!--	<ul style = "list-style:none; " class="font-style">
					<li>
						<img src="" alt="image_not_provided" style="width:100px; float:left;">
						
						<div style= "overflow:hidden; padding-left:80px;">
						<div>Web App Cook 2</div>
						<div>Fe-Male</div>
						 <div>Speciality - South Indian</div>
						 <input type="submit" value = "Contact Cook" class="select-input"> </input>
						</div>
					</li>
					<br>
					<li>
						<img src="" alt="image_not_provided" style="width:100px; float:left;">
						
						<div style= "overflow:hidden; padding-left:80px;">
						<label>Name : </label><label>Web App Cook 2</label>
						<label>Gender : </label><label>Fe-Male</label>
						 <label>Speciality - South Indian</label>
						 <input type="submit" value = "Contact Cook" class="select-input"> </input>
						</div>
					</li>
					<br>
					<li>
						<img src="" alt="image_not_provided" style="width:100px; float:left;">
						
						<div style= "overflow:hidden; padding-left:80px;">
						<div>Web App Cook 2</div>
						<div>Fe-Male</div>
						 <div>Speciality - South Indian</div>
						 <input type="submit" value = "Contact Cook" class="select-input"> </input>
						</div>
					
					</li>
				
				</ul> -->
			
			
			</div>
		
		<div>

		
		
</body>