<html>
<head>
	<title>Home Page</title>
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel="stylesheet"  href="style/responsive/home.css">
</head>
<body>
<header class="main-header" >
	<span class ="header-div left-float">FIND COOK</span>
	<span class= "header-div right-float"><a>Sign In</a></span>
</header>
	<nav>
		
		<div class= "">	
		<div class = "header-div">Looking for Cook?</div>
			
			<label class = "font-style header-div" style="margin-left : 25%">
			<strong>Please select a Area</strong>
			</label>
			<br>
			<select id = "area-id"  class = "input-height input-box user-name-input select-input" >
			<option  disabled selected value> -- Choose Area --</option>
			<option value="male">Electronic City Phase 1 </option>
			<option value="female">Electronic City Phase 2	</option>
			</select>
		
		</div>	
		</nav>
	<div  id="outer-wrapper">
	<div id = "left-align" class= "display_inline" > 
	<img src="images/MainPagePhoto.jpg" class ="image-left">
		</div>
		
		<div id ="right-align" class = "display_inline">
			
			<div class = "right-inner-div">
		<div class = "font-style" style ="text-align: center;"><strong>Want to cook ?</strong><br><strong> Let's Get Started?</strong></div>
			<form action = "" method = "POST">
		<div class = "all-div-padding">
			<label class = "font-style">
			<strong> Name </strong> </label>
			<br>
			<input type= "text" name ="fname" id = "fname" placeholder = "first " class = "input-height input-box input-name fname"></input>
			<input type= "text" name ="lname" id = "lname" placeholder = "last" class = "input-height input-box input-name lname"></input>
		</div>	
			
		
			
		<div class= "all-div-padding">	
			<label class = "font-style">
			<strong>Choose A User Name </strong>
			</label>
			<br>
			<input type= "text" name ="userName" id = "userName" placeholder = "user name"  class = "input-height input-box user-name-input "></input>
		</div>	
		
		<div class= "all-div-padding">	
			<label class = "font-style">
			<strong>Create A Password </strong>
			</label>
			<br>
			<input type= "password" name ="password" id = "password"  class = "input-height input-box user-name-input "></input>
		</div>	
		
		<div class= "all-div-padding">	
			<label class = "font-style">
			<strong>Confirm Password</strong>
			</label>
			<br>
			<input type= "password" name ="confirmPassword" id = "confirmPassword"  class = "input-height input-box user-name-input "></input>
		</div>	
		
		<div class= "all-div-padding">	
			<label class = "font-style">
			<strong>Gender</strong>
			</label>
			<br>
			<select id = "gender"  class = "input-height input-box user-name-input select-input" >
			<option value="male">Male</option>
			<option value="female">Female</option>
 
			</select>
		
		</div>	

		
		<div class= "all-div-padding">	
			<input type= "submit" name ="submit" id = "submit"  class = "input-height input-box  "></input>
		</div>	
		</form>
		</div>
	</div>
	</div>



</body>



</html>