
<!DOCTYPE html>
<html>
<head>
<title>Cook-Home</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="images/captain-cook.gif" />
<link rel="stylesheet" href="resources/style/Cook_Home_Final.css">
<script type="text/javascript" src="resources/js/cookSearch.js"></script>
<script type="text/javascript" src="resources/js/jquery.min.js"></script>
<link rel="stylesheet" href="style/Cook_Home_Tablet.css">
<link rel="stylesheet" href="style/Cook_Home_Phone.css">

<link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body id="Universe">
	<div>
		<div id="Head">
			<div id="Home_Button">
				<a class="H_Link" href="_blank">Home</a>
			</div>

			<span id="Title">FindCook.com</span> 

			<div style="float:right;margin-top:20px;">
				<a class="H_Link Login_Button" href="_blank">Login</a>

				<a class="H_Link Help_Button" href="_blank">Help</a>
			</div>
			<!--<div id="Help_Button">
				<a class="H_Link" href="_blank">Help</a>
			</div>  -->
		</div> 
		<div id="Body">
			<div id="Body_Left">
				<span id="Tag_Line">Find The Best Cook In Your Area!</span> <br>
				<span id="Location_Text">Select Your Location!</span> <br>
				<table id="Location">
					<tr>
						<th>State</th>
						<td><select name="state">
								<option value="haryana">Haryana</option>
								<option value="bangalore">Karnataka</option>
								<option value="kerala">Kerala</option>
								<option value="chennai">Tamil Nadu</option>
						</select></td>

						<th>City</th>
						<td><select name="city">
								<option value="ambala">Ambala</option>
								<option value="bangalore">Bangalore</option>
								<option value="chennai">Chennai</option>
								<option value="trivendrum">Trivendrum</option>
						</select></td>
						<td><input type="submit" value="Search" class="Submit_Button"
							style="border: outset; border-width: 0px;margin-top:0;" onclick="searchCook();"></input>
						</td>
					</tr>
				</table>
			</div>
			<div id="Body_Right">
				<span>
					<strong>Are You A Cook?</strong><br>
					<strong>Sign Up To Register!</strong>
				</span>
				<br><input type="submit" value="Sign-Up" class="Submit_Button"
					style="border: outset; border-width: 0px;margin-top:30px;"></input>

			</div>
		</div>
	</div>
</body>
</html>
