		<!DOCTYPE html>
<head>
	<title>Cook-Home</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/captain-cook.gif"/>
	<link rel="stylesheet"  href="resources/style/Cook_Home_Final.css">
	<link rel="stylesheet"  href="style/Cook_Home_Tablet.css">
	<link rel="stylesheet"  href="style/Cook_Home_Phone.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
</head>
<body id="Universe">
	<div>                     
		<div id="Head">
	<!--	<img id="Head_image" src="images/head_photo.png">            -->
			<div id="Home_Button">
				<a id="H_Link" href="_blank">Home</a>
			</div>
			
			<p id="Title">FindCook.com</p>     
		
			<div id="Login_Button">
				<a id="H_Link" href="_blank">Login</a>
			</div>
			<div id="Help_Button">
				<a id="H_Link" href="_blank">Help</a>
			</div>
		</div>
		<div id="Body">
			<div id="Body_Left">
				<p id="Tag_Line">
					Find The Best Cook In Your Area!
				</p>
				<p id="Location_Text">
				Select Your Location!
				</p>
				<table id="Location">
					<tr>
						<th>State</th>
							<td>	
								<select name="state">
									<option value="haryana">Haryana</option>
									<option value="bangalore">Karnataka</option>
									<option value="kerala">Kerala</option>
									<option value="chennai">Tamil Nadu</option>
								</select>	
							</td>
							
							<th>City</th>	
							<td>	
								<select name="city">
									<option value="ambala">Ambala</option>
									<option value="bangalore">Bangalore</option>
									<option value="chennai">Chennai</option>
									<option value="trivendrum">Trivendrum</option>
								</select>	
							</td>	
                                                        <td>
								<input type="submit" value="Search" id="Submit_Button" 			           					       style="border:outset;border-width:0px;"></input>
                                                        </td>							
					</tr>
				</table>
			</div>
			<div id="Body_Right">
				<p><strong>Are You A Cook?</strong><br><strong>Sign Up To Register!</strong></p>
                                <br>
			        <input type="submit" value="Sign-Up" id="Submit_Button"style="border:outset;border-width:0px;"></input>
				
			</div>	
		</div>
    </div>   
</body>
</html>
