<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login </title>
<link rel="stylesheet" href="resources/style/Login.css" />
<script type="text/javascript" src="resources/js/jquery.min.js"></script>
</head>
<body id="universe" onload="loadScript();">
	<header id="head">
		<div id="homeButton">
		<a class="hLink" href="./">Home</a>
		</div>
		<span id="title">FIND COOK</span>
	</header>
	<div>
		<span>Login In With:</span> <br />
		<input type="submit" value="Google" class="submitButton"
					style="border: outset; border-width: 0px; margin-top: 0;"></input> <br />
		<span>OR</span> <br />
		<p>
			User Name : <input type="text" name="username" value="Ex:abc@gmail.com" /> <br />
			Password  : <input type="text" name="password" value="" />
		</p>
		<input type="submit" value="Login" class="submitButton"
					style="border: outset; border-width: 0px; margin-top: 0;"></input>
	</div>

</body>
</html>
