<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="resources/style/Cook_Home_Final.css" />
<link rel="stylesheet" href="resources/style/Login.css" />
<script type="text/javascript" src="resources/js/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/cookSearch.js"></script>

</head>
<body id="universe">
	<header id="head">
		<div id="homeButton">
			<a class="hLink" href="./">Home</a>
		</div>
		<span id="title">FIND COOK</span>
	</header>
	<div id="loginArea" style="margin-left:auto; margin-right:auto; width:300px;">
		<h2>Login In With:</h2>
		<input type="submit" value="Google" class="submitButton"
			style="border: outset; border-width: 0px; margin-top: 0; width: 20%;"></input>
			<br />OR<br />

		<form action="javascript:submitLogin()" id="register" role="form" >
			<p>User Name :</p> 
			<input type="text" name="username" id="userName" value=""
				placeholder="User name or Email" required />
			<p>Password :</p>
			<input type="text" name="password" id="userPassword" value="" required />
			<br/>
			<input type="submit" value="Login" class="submitButton"
				style="border: outset; border-width: 0px; margin-top: 0;"></input>
		</form>
	</div>

</body>
</html>
