<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="resources/style/Cook_Home_Final.css" />
<script type="text/javascript" src="resources/js/cookSearch.js"></script>
<script type="text/javascript" src="resources/js/jquery.min.js"></script>
</head>
<body>
<i>Uploading File </i><br/>
  <!-- File input -->    
 <input name="imageFile" id="imageFile" type="file" /><br/>
<button value="Submit" onclick="uploadFormData()" >Upload</button>
 
 <button value="Submit" onclick="getImage()" >get image</button>
 
<div id="result"></div>

<img id="ItemPreview" src="" />

</body>
</html>